body {
    background-color: aliceblue;
}
#container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 2px solid black;
  }
  
  .square {
    flex: 1 0 auto;
    box-sizing: border-box;
    border: 1px solid lightgray;
    transition: background-color 0.2s;
  }
  
  button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }

  .button {
    text-align: center;
  }

  #resetBtn {
    background-color: rgb(247, 247, 229);
  }